<nav class="navbar">
  <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
    <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px"viewBox="0 0 24 24"><defs><style>.a{fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}</style></defs><title>navigation-menu</title><line class="a" x1="2.25" y1="18.003" x2="21.75" y2="18.003"/><line class="a" x1="2.25" y1="12.003" x2="21.75" y2="12.003"/><line class="a" x1="2.25" y1="6.003" x2="21.75" y2="6.003"/></svg>
  </label>
  <a href="/" class="logo">Danny Mayer</a>
  <input type="checkbox" id="chkToggle"></input>
  <ul class="main-nav" id="js-menu">
  {%- for nav in collections.nav | sort(attribute="date") -%}
    <li>
      <a href="{{ nav.url | url }}" class="nav-links" {% if nav.url == page.url %} data-current="current item"{% endif %}>{{ nav.data.navtitle }}</a>
    </li>
  {%- endfor -%}
  </ul>
</nav>
